apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: {{ kubernetes_namespace }}-prod
namePrefix: prod-
resources:
  - ../../base
patches:
  - target:
      kind: Namespace
    patch: |-
      - op: replace
        path: /metadata/name
        value: {{ kubernetes_namespace }}-prod
{% if project_type == 'python-api-with-ui' %}
  - target:
      kind: Deployment
      name: {{ project_name }}-ui
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: http://prod-{{ project_name }}-api:{{ api_port }}
{% endif %}
