apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: {{ kubernetes_namespace }}
resources:
  - namespace.yaml
  - api.yaml
{% if project_type == 'python-api-with-ui' %}
  - ui.yaml
{% endif %}
